/*-- -------------------------- -->
<---         Portfolio          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #portfolio {
    padding-top: 3.125em;
    padding-bottom: 35%;
    position: relative;
    z-index: 5;
  }
  #portfolio .container {
    width: 96%;
    max-width: 82.625em;
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875em;
    font-size: min(1.3vw, 1em);
  }
  #portfolio .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.875em;
  }
  #portfolio .container .row:nth-of-type(1) picture:nth-of-type(1) {
    width: 26.25em;
    height: 35.4375em;
  }
  #portfolio .container .row:nth-of-type(1) picture:nth-of-type(2) {
    width: 26.25em;
    height: 39.3125em;
  }
  #portfolio .container .row:nth-of-type(1) picture:nth-of-type(3) {
    width: 26.25em;
    height: 32em;
  }
  #portfolio .container .row:nth-of-type(2) picture:nth-of-type(1) {
    width: 26.25em;
    height: 30.75em;
  }
  #portfolio .container .row:nth-of-type(2) picture:nth-of-type(2) {
    width: 26.25em;
    height: 32.3125em;
  }
  #portfolio .container .row:nth-of-type(2) picture:nth-of-type(3) {
    width: 26.25em;
    height: 39.3125em;
  }
  #portfolio .container .row:nth-of-type(3) picture:nth-of-type(1) {
    width: 26.25em;
    height: 39.0625em;
  }
  #portfolio .container .row:nth-of-type(3) picture:nth-of-type(2) {
    width: 26.25em;
    height: 28.25em;
  }
  #portfolio .container .row:nth-of-type(3) picture:nth-of-type(3) {
    width: 26.25em;
    height: 39.3125em;
  }
  #portfolio .container .row picture {
    position: relative;
    display: block;
  }
  #portfolio .container .row picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.5em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #portfolio {
    padding: 9.375em 0;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125em 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 0.75em;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2em;
    width: 96%;
    max-width: 33.22222222em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5em 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25em;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25em;
    width: 125em;
    background: url("../images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
