/*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #reviews {
    padding-top: 7.5em;
    padding-bottom: 3.125em;
    margin: auto;
  }
  #reviews .container {
    width: 96%;
    max-width: 82.5em;
  }
  #reviews .review {
    padding: 4em 1.875em 1.125em 1.875em;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 25.625em;
    margin: auto;
    margin-bottom: 6.25em;
    border-radius: 0.3125em;
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #reviews .review:last-of-type {
    margin-bottom: 0;
  }
  #reviews .review .profile {
    display: block;
    height: 6.1875em;
    width: 6.1875em;
    margin-left: 0;
    border-radius: 50%;
    margin-bottom: 1em;
    position: absolute;
    left: 1.875em;
    top: -3.1875em;
  }
  #reviews .review p {
    line-height: 1.33333333;
    margin-bottom: 1.55555556em;
    text-align: left;
  }
  #reviews .review .star-group {
    border-top: 1px solid #E7E7E7;
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: auto;
  }
  #reviews .review .star-group .name {
    color: #1A1A1A;
    line-height: 1.33333333em;
    text-align: left;
    font-weight: bold;
    display: block;
  }
  #reviews .review .star-group .desc {
    color: #575757;
    font-weight: 400;
    display: block;
  }
  #reviews .review .star-group img {
    display: block;
    width: 5.6875em;
    height: 0.9375em;
    margin: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #reviews {
    padding-top: 9.375em;
    padding-bottom: 3.125em;
  }
  #reviews .container {
    font-size: min(1.4vw, 1em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-column-gap: 1.875em;
            column-gap: 1.875em;
  }
  #reviews .review {
    margin: 0;
    margin-bottom: 9.375em;
  }
  #reviews .review:last-of-type {
    margin-bottom: 9.375em;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews .review {
    background: var(--medium);
  }
  body.dark-mode #reviews .review .name {
    color: #fff;
  }
  body.dark-mode #reviews .review .desc {
    color: #fff;
    opacity: .7;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125em 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 0.75em;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2em;
    width: 96%;
    max-width: 33.22222222em;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5em 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25em;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25em;
    width: 125em;
    background: url("../images/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
