/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #form {
    padding: 50/16em 0;
    margin: auto;
    position: relative;
    padding-bottom: 36%;
  }
  #form .top-wave {
    position: absolute;
    width: 100%;
    top: -2/16em;
    height: auto;
    left: 0;
  }
  #form .title {
    font-weight: 900;
    font-size: min(9vw, 2.4em);
    line-height: 58/48;
    color: #1A1A1A;
    position: relative;
    margin-bottom: 42/48em;
    text-align: left;
  }
  #form p {
    line-height: 27/18;
    max-width: 500/18em;
    color: #595959;
    margin-bottom: 48/18em;
  }
  #form .left-section {
    width: 96%;
    margin: auto;
    margin-top: 15%;
    max-width: 600/16em;
  }
  #form #contact {
    margin: auto;
    margin-bottom: 100/16em;
  }
  #form #contact .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30/16em;
  }
  #form #contact .input-group label {
    font-weight: bold;
    font-size: 16/16em;
    margin-bottom: 6/16em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    font-size: 16/16em;
    height: 67/16em;
    border: none;
    border-bottom: 1/16em solid #d4d4d4;
    background: transparent;
  }
  #form #contact .input-group input:focus {
    border: 1/16em solid var(--primary);
  }
  #form #contact .input-group textarea {
    min-height: 200/16em;
    padding-top: 20/16em;
  }
  #form #contact .input-group ::placeholder {
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
  }
  #form #contact .button-solid {
    border: none;
  }
  #form .contact-right {
    background: #1a1a1a;
    padding: 45/16em 34/16em;
    width: 100%;
    max-width: 300/16em;
    margin: auto;
    border-radius: 5/16em;
  }
  #form .contact-right .heading {
    color: #fff;
    font-size: 24/16em;
    line-height: 1.2em;
    font-weight: bold;
    padding-left: 20/24em;
    border-left: 5/24em solid var(--primary);
    display: block;
    margin-bottom: 20/24em;
  }
  #form .contact-right .info-group {
    margin-bottom: 36/16em;
  }
  #form .contact-right .info-group:last-of-type {
    margin-bottom: 0;
  }
  #form .contact-right .info {
    font-size: 16/16em;
    line-height: 28/16;
    color: #fff;
    opacity: 0.9;
    text-decoration: none;
    display: block;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 568px) {
  #form #contact {
    max-width: 700/16em;
  }
  #form .contact-right {
    max-width: 700/16em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #form .contact-right .info-group {
    width: 40%;
    margin-left: 50/16em;
  }
  #form .contact-right .info-group:nth-of-type(3) {
    margin-bottom: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #form #contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #form #contact .input-group {
    width: 48%;
    margin-bottom: 50/16em;
    position: relative;
  }
  #form #contact .input-group:nth-of-type(5) {
    width: 100%;
  }
  #form #contact .input-group:last-of-type {
    width: 100%;
  }
  #form #contact .input-group:hover .hover-box {
    height: 67/16em;
    border: 1/16em solid var(--primary);
    pointer-events: none;
  }
  #form #contact .input-group:hover input[type="text"],
  #form #contact .input-group:hover input[type="email"],
  #form #contact .input-group:hover input[type="tel"],
  #form #contact .input-group:hover input[type="url"],
  #form #contact .input-group:hover textarea {
    padding-left: 20/16em;
  }
  #form #contact .input-group input[type="text"],
  #form #contact .input-group input[type="email"],
  #form #contact .input-group input[type="tel"],
  #form #contact .input-group input[type="url"],
  #form #contact .input-group textarea {
    border-bottom: none;
    position: relative;
    transition: padding 0.3s;
    background: transparent;
  }
  #form #contact .input-group .hover-box {
    position: absolute;
    display: block;
    height: 1/16em;
    width: 100%;
    background: transparent;
    border: 1/16em solid #e9e8e8;
    opacity: 1;
    bottom: -1/16em;
    left: 0;
    z-index: 10;
    transition: height 0.3s, border 0.3s;
    z-index: -1;
  }
  #form #contact .textarea:hover .hover-box {
    height: 168/16em;
  }
  #form #contact .form-submit {
    margin-left: auto;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #form {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-size: 1.5vw;
    width: 100%;
    padding: 150/16em 0;
  }
  #form .left-section {
    width: 750/16em;
    margin: 0;
    margin-left: 0;
    margin-right: 75/16em;
  }
  #form #contact {
    margin: 0;
    margin-right: 0;
    max-width: none;
  }
  #form .contact-right {
    flex-direction: column;
    max-width: 300/16em;
    margin: 0;
    height: 554/16em;
  }
  #form .contact-right .info-group {
    margin-left: 0;
    width: 100%;
  }
  #form .contact-right .info-group:nth-of-type(3),
  #form .contact-right .info-group:last-of-type {
    margin-bottom: 36/16em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #form {
    font-size: inherit;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0px) {
  body.dark-mode #form .title {
    color: #fff;
  }
  body.dark-mode #form p {
    color: #fff;
  }
  body.dark-mode #form .input-group label {
    color: #fff;
  }
  body.dark-mode #form .input-group input,
  body.dark-mode #form .input-group textarea {
    color: #fff;
  }
  body.dark-mode #form .contact-right {
    background: var(--medium);
  }
}
